<%- include('../include/_header') %>

<div class="container mt-5">
    <table id="table_id" class="tableo row-border stripe hover order-column">
        <thead>
            <a type="button" class="btn btn-outline-dark" href="/views/ajoutertracker">Ajouter Un Tracker</a>
            <tr style="background-color: #343a40; color: whitesmoke">
                
                <th >ID</th>
                <th >Tracker</th>
                <th >@MAC</th>
                <th >Action</th>
            
            </tr>
        </thead>
        <tbody>
        
            <%- include('../include/_showTracker') %>
        
        </tbody>
    </table>
</div>


<%- include('../include/_footer') %>